.d-flex button{
    margin: 1.5em 0.6em;
}

.success{
    background-color: lightgreen;
    padding: 1em;
}

.error{
    background-color: lightsalmon;
    padding: 1em;
}

.btnEdit{
    color: lightslategray;
    cursor: pointer;
}